* { margin:0; padding: 0;
}

.lobster-regular {
   font-family: "Lobster";
   font-weight: 400;
   font-style: normal;
   font-size: 37pt;
   text-align: center;
   color: white;
   text-decoration: none;
}

.ricomida {
   font-family: "Lobster";
   font-weight: 400;
   font-style: normal;
   font-size: 30pt;
   text-align: center;
   color: white;
   text-decoration: none;
}

.cabin-regular {
   font-family: "Cabin";
   font-optical-sizing: auto;
   font-weight: 400;
   font-size: 16pt;
   font-style: normal;
   font-variation-settings:"wdth" 100;
   color: white;
   text-decoration: none;
   line-height: 30pt;
   margin-bottom: 0;
} 

.cabin-bold {
   font-family: "Cabin";
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   font-variation-settings:"wdth" 100;
   font-size: 40pt;
} 

.img-hero {
   padding: 0px 0px 0px 0px;
   width: 482pt;
   height: 384pt;
}

.text-hero {
   padding: 0px 16px 0px 0px;
   margin: 56.5px 0px;
   height: 425px;
   width: 201px;
   font-size: 40px;
   text-align: left;

   
}

.text-hero2 {
   padding: 0px 16px 0px 0px;
   margin: 56.5px 150px;
   height: 269px;
   width: 27px;
   font-size: 20px;
   text-align: left; 
}

.flexbox {
   display: flex;
   flex-direction: row; 
   flex-wrap: wrap;
   margin-top: 25pt;
   margin-bottom: 68pt;
   justify-content: center;
}

.flex-item {
   width: 482pt;
   height: 384pt;
   text-align: left; 
   margin: 0;
}

.flexbox1 {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap; 
   text-align: center;
}

.flex-item1 {
   height: 534pt;
   text-align: center; 
   background-color: #DC3545;
}

.flex-item2 {
   height: 127pt;
   text-align: center; 
   background-color: #373A3C;
   color: white;
   margin: auto;
}

.card-container {
   display: flex;
   justify-content: center;
   gap: 5pt; 
}

.card {
   width: 18rem;
}